@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Raleway:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Montserrat:wght@600;700&display=swap');


html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 0;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#header-img{
    background: url(imgs/header-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.flex{
    display: flex;
}
nav{
    width: 100%;
    justify-content: center;
    align-items: start;
    position: fixed;
    background-color: #000;
}
nav a{
    font-family: 'Montserrat', sans-serif;
    padding: 2vw;
    color: #fff;
    text-decoration: none;
    font-size: 1.8vh;
}
#button{
    background-color: #f8ce35;
    border-radius: 5px;
    margin-left: 10%;
    padding: 1.5%;
    margin-top: 0.5%;
}
main section{
    justify-content: space-evenly;
}
section .section-icon{
    margin-left: 1vw;
    margin-top: 4.5vh;
}
#first-div{
    margin-top: 3.5vh;
}
section #second-div, p{
    margin-left: 3vw;
    font-size: 1.9vh;
    font-family: 'Raleway', sans-serif;
    color: #616161;
}
section a{
    font-size: 2.2vh;
    color: #000;
    font-style: bold italic;
    text-decoration: none;
}
section a:hover, section a:active{
    color: #000;
    font-style: bold italic;
    text-decoration: underline;
    margin-top: 1vh;
}
#bout-delivery{
    border-bottom: 1px solid #dbdbdb;
}
#bout-delivery section{
    flex-flow: row nowrap;
}
#bout-delivery ul{
    list-style-type: none;
    padding: 5%;
}
#bout-delivery ul span{
    text-indent: 2vw;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
span h2{
    font-size: 1.5em;
    padding: 6px;
    margin: 2vh 0vw;
}
section#promos.flex{
    flex-flow: column wrap;
    justify-items: center;
    margin-top: 3vh;
    margin-left: 5vw;
    width: 90vw;
}
section.promo{
    flex-flow: row;
    margin-left: 5vw;
    width: 80vw;
    margin-bottom: 1.4vh;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}
section.promo#last{
    margin-bottom: 0px;
}
section.promo a:active{
    background-color: #dbdada;
}
section.promo a:hover{
    background-color: #dbdada;
    transform: scale(1.1);
    text-decoration: none;
}
section.promo p{
    font-size: 1.8vh;
}
section.promo h3{
    font-size: 1.9vh;
    padding-top: 1vh;
    font-family: 'Lora', serif;
}
section.flex.bout{
    width: 100vw;
    border-radius: 8px;
    padding: 8px;
    height: 25vh;
    align-items: center;
}
section.flex#first{
    flex-flow: column nowrap;
}
section.flex p{
    color: #656565;
    padding: 5px;
    font-size: 1.vh;
}
section.flex img{
    margin-top: 2.5vh;
    margin-right: 3vw;
    padding: 4px;
    width: 13vw;
    border-radius: 6px;
}
section.flex h3{
    text-align: center;
}
#cardapio-img{
    align-items: center;
    background: url(imgs/parallax-cardapio.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
section#cardapio-img h2{
    background-color: #00000067;
    color: #fff;
    text-transform: capitalize;
    font-size: 5vh;
    width: 100%;
}
.b{
    margin-top: 1000px;
}
.carrossel{
    margin-bottom: 4vh;
}
section#pizzas{
    flex-flow: column wrap;
    align-items: center;
    margin-top: 2.6vh;
}
section.pizza.flex, a.pizza{
    flex-direction: column;
    align-content: center;
    border: 1px solid #dbdada;
    max-width: 80%;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 1vh;
}
a.pizza div{
    margin-left: 2vw;
    justify-content: center;
    align-content: center;
}
section#pizzas a:hover{
    transform: scale(1.1);
    text-decoration: none;
    margin-bottom: 6%;
    transition: transform 1s;
}
a.pizza.flex div.flex span.price p{
    margin-top: 2vw;
    color: rgb(30, 128, 30);
}
section.pizza.flex p{
    color: #afafaf;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8vh;
    padding: 0 6px 6px 6px;
}
.icon{
    margin-top: 0.7vh;
}
section.pizza.flex div.flex{
    justify-content: center;
}
section#sobre{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
section.sobre-itens{
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
}
section.sobre-itens p{
    font-size: 1.7vh;
}
section.sobre-itens img{
    margin-left: 10%;
    width: 80%;
    height: 40%;
}
footer{
    margin-top: 3vh;
    background: #2c2b2b;
    flex-direction: column;
}
footer section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#redes.flex{
    width: 42%;
    flex-direction: row;
    justify-content: space-evenly;
}

footer section h5{
    color: #fff;
    margin: 2vh;
}
section#incorp{
    justify-content: center;
}
